@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800&display=swap");

.navbar {
  background-color: #461959 !important;
}
.video-title {
  font-size: 32px;
  text-transform: capitalize;
  padding: 11px;
  color: purple;
  display: block;
}
.video-description {
  color: #4e4b4b;
  padding: 0 15px;
}
.video-project-button {
  margin: 7px !important;
  border-radius: 50px !important;
}
.option-box {
  padding: 11px;
  border-radius: 5px;
  border: 1px solid #ddd;
  min-height: 40px;
}

.option-label {
  width: 100%;
  display: block;
  height: 100%;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}
.clickInput:checked + label {
  background-color: #461959 !important;
  color: #fff;
}
/* .ques1-q2 {
  width: 100%;
  display: block;
  height: 100%;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}
#ques1-q2:checked + label {
  background-color: #461959 !important;
  color: #fff;
} */
.video-list li:hover {
  background-color: #46195964;
  transition: all 0.5s ease;
}
.css-1k9ek97 {
  background: transparent !important;
}
li.MuiListItem-root.MuiListItem-gutters.MuiListItem-padding.css-1p823my-MuiListItem-root {
  border: 1px solid #ddd;
}
.MuiBox-root.css-1l9ohcm {
  border-radius: 5px !important;
  border: 1px solid #ddd !important;
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.css-1q39md6-MuiButtonBase-root-MuiButton-root:hover {
  background: #130f40 !important;
}
